.ba-logo-con {
  margin-bottom: 10px;
}

.heading-text{
  max-width: max-content;
  margin-left: 40px;
  margin-right: 40px;
}

.heading-text h1 {
  font-size: 28px;
}

.nora-content-con {
  margin-bottom: 20px;
  padding-left: 30px;
  padding-right: 20px;
}

.nora-dept-lists li {
  font-family: Roboto, Tahoma;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 600;
  color: #880a08;
  list-style-type: none;

}

@media(max-width: 600px) {
  .nora-heading-bar {
    font-size: 15px;
  }

  .nora-dept-lists li {
    font-size: 16px;
  }
}

.table-container {
  padding-left: 20px;
  padding-right: 20px;
}