.heading-text h1{
  font-size: 28px;
}

.nora-content-con {
  margin-bottom: 20px;
  padding-left: 30px;
  padding-right: 20px;
}

.nora-dept-lists li {
  font-family: Roboto, Tahoma;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 600;
  color: #880a08;
  list-style-type: none;
}

.nora-dept-lists li a {
  color: #880a08;
}

@media(max-width: 600px) {
  .nora-heading-bar {
    font-size: 15px;
  }

  .nora-dept-lists li {
    font-size: 16px;
  }
}

.table-container{
  padding-left: 20px;
  padding-right: 20px;
}
