*{
  margin: 0;
  padding: 0;
}

body{
  padding-top: 70px;
}

.header-container{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 60px;
  z-index: 100;
  background-color: rgb(255, 254, 254);  
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  
}

.header-container a {
  display: flex;
  font-family: Roboto, Tahoma;
  font-weight: 600;
  font-size: 16px;
  height: 100%;
  padding: 0 20px;
  color: #880a0a;
  text-decoration: none;
  align-items: center;
}

.header-container .menu-list a:hover {
  background-color: #880a0a;
  color: white
}

.header-container .menu-list .logo-item a:hover{
  background-color: white;
}

.header-container div:first-child {
  margin-right: auto;
}

.menu-list{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
}
                             
.menu-item{
  height: 60px;
}

.menu-item img{
  width: 200px;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content1, .dropdown-content2 {
  font-family: Roboto, Tahoma;
  position: absolute;
  display: none;
  background-color: #f9f9f9;
  box-shadow: 5px 5px 16px rgba(0, 0, 0, 0.7);
  z-index: 200;
  border-radius: 5px;
  padding-top: 5px;
}

.dropdown-content2{
  min-width: 270px;
}

.dropdown:hover .dropdown-content1,.dropdown:hover .dropdown-content2 {
  display: block;
}

.dropdown-content1 a, .dropdown-content2 a {
  font-family: Roboto, Tahoma;
  font-size: 16px;
  padding-bottom: 3px;
  padding-top: 3px;
  margin-bottom: 5px;
}

.content-container{
  display: flex;
  margin-bottom: 20px; 
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 600px){
  .content-container{
    flex-direction: column;    
    row-gap: 20px;
  }
}

.photo-container img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.photo-container{
  background-color: rgb(136, 10, 10);
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 12px;
  box-shadow: 2px px 10px;
  position: relative;
}


.photo-label{
  position: absolute;
  right: 10px;
  top: 8px;
  background-color: rgb(136, 10, 10);
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  opacity: 0.7;
  border-radius: 4px;
  font-family: Roboto;
  font-size: 10px;  
}



.heading-text{
  padding-right: 20px;
  align-content: center;
  font-family: Roboto, Tahoma;
  max-width: 500px;  
  color: rgb(136, 10, 10);
  text-shadow: -3px -1px 8px black;
  
}

.heading-text h1{
  font-size: 50px;
}

.heading-text h3 {
  font-size: 20px;
}

.heading-text h4 {
  font-size: 18px;
  margin-bottom: 5px;
}

.content-container h3{  
  margin-bottom: 8px;
  font-family: Segoe;
}

.content-container .heading-text hr{
  height: 3px;
  background-color: rgb(136, 10, 10);
  border-radius: 5px;
  margin-bottom: 8px;
}

.question{
  font-size: 20px;
  margin-bottom: 6px;
}

.desc1{
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
  line-height: 24px;
}

.btn1{
  background-color: rgb(136, 10, 10);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.25s ease;
}

.btn1:hover{
  background-color: white;
  color: #880a0a;
  border: 1px;
  border-style: solid;
  border-color: #880a0a;
}

.heading-bar {
  background-color: rgb(136, 10, 10);
  margin-bottom: 10px;
  padding: 10px;
  color: white;
  text-align: center;
  font-family: Roboto;
  font-size: 40px;
  font-weight: 700;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 40px;
  box-shadow: 2px 2px 8px black;
}

.dept-container{
  display: flex;
  color: white;
  margin-bottom: 24px;
  padding: 10px 0 20px 20px;
  row-gap: 10px;
  column-gap: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 400px) {
  .dept-container {
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .dept-img-con {
    background-color: rgb(136, 10, 10);
    width: 267px;
    border-radius: 12px;
  }
}


.dept-container img{
  height: 150px;
  border-radius: 10px;
}

.dept-img-con{
  background-color: rgb(136, 10, 10);
  padding-left: 4px;
  padding-top: 4px;
  padding-right: 4px;
  border-radius: 12px;
  transition: all 0.2s ease;
  box-shadow: 4px 6px 6px black;
}

.dept-img-con:nth-child(2){
  transition-delay: 200ms;
}
.dept-img-con:nth-child(3){
  transition-delay: 200ms;
}
.dept-img-con:nth-child(4){
  transition-delay: 200ms;
}
.dept-img-con:nth-child(5){
  transition-delay: 200ms;
}
.dept-img-con:nth-child(6){
  transition-delay: 200ms;
}
.dept-img-con:nth-child(7){
  transition-delay: 200ms;
}
.dept-img-con:nth-child(8){
  transition-delay: 200ms;
}
.dept-img-con:nth-child(9){
  transition-delay: 200ms;
}
.dept-img-con:nth-child(10){
  transition-delay: 200ms;
}

.dept-img-con:hover{
  transform: translate3d(0, -1px, 0) scale(1.04);
}

.pastors-container{
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  row-gap: 20px;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

@media (max-width: 400px){
  .pastors-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .pastor-card{
    width: 200px;
  }
}

.pastor-card{
  background-color: rgb(136, 10, 10);
  color: white;
  font-family: Roboto;
  font-size: 12px;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 1px 4px 8px black;
}

.pastors-container img{
  width: 200px;
  border-radius: 4px;
}

.pastor-desc{
  padding-top: 5px;
  font-weight: 500;
  line-height: 18px;
}
.Name{
  font-size: 14px;
  font-weight: 700;
}

.gallery-container {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
  row-gap: 10px;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.gallery-img-con {
  width: 350px;
  height: 200px;
  background-color: rgb(136, 10, 10);
  padding-left: 4px;
  padding-top: 4px;
  padding-right: 4px;
  border-radius: 8px;
  box-shadow: 4px 6px 6px black;
  justify-content: center;
  align-items: center;
  
}

.gallery-img-con:nth-child(2){
  transition-delay: 200ms;
}
.gallery-img-con:nth-child(3){
  transition-delay: 200ms;
}
.gallery-img-con:nth-child(4){
  transition-delay: 200ms;
}


.gallery-img-con img{
  width: 350px;
  height: 195px; 
  border-radius: 6px;
}

.more-button{
  display: flex;
  justify-content: center;
}

.more-button button{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: rgb(136, 10, 10);
  border: none;
  color: white;
  font-family: Roboto;
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 700;
  border-radius: 18px;
  box-shadow: 1px 3px 12px black;
  transition: all 0.26s ease;
  cursor: pointer;
}

.more-button button:hover{
  background-color: #56423d;
  transform: translate3d(0, -1px, 0) scale(1.04);
  font-size: 19;
}

.stats-container{
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  row-gap: 20px;
  column-gap: 50px;
  flex-wrap: wrap;
}

@media(max-width: 420px) {
  .stats-container {
    flex-direction: column;
    row-gap: 20px;
    column-gap: 20px;
  }
}

.stat i{
  font-size: 30px;
}

.stat{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Roboto, Tahoma;
  color: #880a0a;
}

.contact-con{
  background-color: #ac2020;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
  font-family: Roboto;
  font-size: 14px;
  display: flex;
  padding-top: 15px;
}

@media(max-width: 600px){
  .contact-con{
    flex-direction: column;
  }

  .links-container{
    padding-bottom: 10px;
  }
}


.info-con{
  width: 280px;
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.address{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.info1{
  display: flex;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}

.icon{
  font-size: 20px;
  margin-right: 5px;
}

.phone, .gmail{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.add, .number, .gmail-id{
  font-weight: 500;
}

.number, .gmail-id{
  font-size: 16px;
}

.heading-link{
  display: flex;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}

.links-container{
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.links-con{
  display: flex;
  column-gap: 20px;
}

.links-con a{
  text-decoration: none;
  color: white;
}

.link1, .link2{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-icon{
  font-size: 25px;
}

.footer-container {
  width: 100%;
  height: 60px;
  color: white;
  background: rgb(136, 10, 10);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright{
  font-family: Roboto;
  font-size: 14px;
  margin-left: 10px;
}

.developer{
  font-family: Roboto;
  font-size: 14px;
  margin-right: 10px;
}

.border-bottom{
  color: white;
}

@media(max-width: 600px){
  .footer-container{
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
  }
  .copyright{
    font-size: 12px;
  }

  .developer{
    font-size: 12px;
  }
}

.hidden{
  opacity: 0;
  filter:blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

html {
  scroll-behavior: smooth;
}

#progress {
  background-color: #880a0a;
  position: fixed;
  bottom: 70px;
  right: 10px;
  height: 70px;
  width: 70px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 100;
}

#progress-value {
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 35px;
  color: #880a0a;
}



@media(max-width: 420px) {
  #progress {
    height: 50px;
    width: 50px;
  }

  #progress-value {
    font-size: 25px;
    height: calc(100% - 11px);
      width: calc(100% - 11px);
  }
}